body{
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 30px;
}

.resume {
  width: 700px;
  background: white;
  padding: 25px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #aaa;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
