body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 40px;
}

.resume-container {
  display: flex;
  width: 80%;
  margin: auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Left Column */
.left-col {
  width: 30%;
  background: #FFB400;
  color: black;
  padding: 30px;
  text-align: center;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 100px; /* CIRCLE IMAGE */
  object-fit: cover;
  border: 4px solid white;
  margin-bottom: 20px;
}

/* Right Column */
.right-col {
  width: 70%;
  padding: 30px;
}

h1 {
  margin-top: 0;
}

h3 {
  margin-bottom: 5px;
  margin-top: 20px;
}

.job-title {
  color: #FFB400;
  font-size: 18px;
  font-weight: bold;
}

/* PDF Button */
button {
  background: #FFB400;
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 15px;
}

button:hover {
  background: #d99a00;
}
